<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Build:anonymous</permission>
      <permission>hudson.model.Item.Build:dreed</permission>
      <permission>hudson.model.Item.Build:ritesh</permission>
      <permission>hudson.model.Item.Build:anishek</permission>
      <permission>hudson.model.Item.Build:geetchan</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Workspace:dreed</permission>
      <permission>hudson.model.Item.Workspace:ritesh</permission>
      <permission>hudson.model.Item.Workspace:anishek</permission>
      <permission>hudson.model.Item.Workspace:geetchan</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:dreed</permission>
      <permission>hudson.model.Item.Read:ritesh</permission>
      <permission>hudson.model.Item.Read:anishek</permission>
      <permission>hudson.model.Item.Read:geetchan</permission>
      <permission>hudson.model.Item.Configure:dreed</permission>
      <permission>hudson.model.Item.Configure:ritesh</permission>
      <permission>hudson.model.Item.Configure:anishek</permission>
      <permission>hudson.model.Item.Configure:geetchan</permission>
      <permission>hudson.model.Run.Update:anonymous</permission>
      <permission>hudson.model.Run.Update:ritesh</permission>
      <permission>hudson.model.Run.Update:anishek</permission>
      <permission>hudson.model.Run.Update:geetchan</permission>
      <permission>hudson.model.Item.Delete:ritesh</permission>
      <permission>hudson.model.Item.Delete:anishek</permission>
      <permission>hudson.model.Item.Delete:geetchan</permission>
      <permission>hudson.model.Run.Delete:ritesh</permission>
      <permission>hudson.model.Run.Delete:anishek</permission>
      <permission>hudson.model.Run.Delete:geetchan</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty>
      <projectUrl>https://github.com/mangroveorg/datawinners-smartphone/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.queueSorter.PrioritySorterJobProperty>
      <priority>100</priority>
    </hudson.queueSorter.PrioritySorterJobProperty>
    <com.gmail.ikeike443.PlayAutoTestJobProperty/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>git://github.com/mangroveorg/datawinners-smartphone.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>develop</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <scmName></scmName>
  </scm>
  <assignedNode>smartphone</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <com.cloudbees.jenkins.GitHubPushTrigger>
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export ANDROID_HOME=/var/lib/jenkins/android-sdk-linux
export PATH=/usr/local/bin:/bin:/usr/bin:/sbin:/usr/sbin:/var/lib/jenkins/android-sdk-linux/platform-tools:/var/lib/jenkins/android-sdk-linux/tools:
cd datawinners-smartphone
./dev-setup.sh
ant clean
pwd
cd ./opendatakit.collect
ant clean
cd ..
ant release
ant debug</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.chucknorris.CordellWalkerRecorder>
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>datawinners-smartphone/bin/*apk</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.emotional__hudson.EmotionalHudsonPublisher/>
    <net.hurstfrost.hudson.sounds.HudsonSoundsNotifier>
      <soundEvents/>
    </net.hurstfrost.hudson.sounds.HudsonSoundsNotifier>
    <hudson.plugins.statusmonitor.MonitorPublisher/>
  </publishers>
  <buildWrappers/>
</project>