<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Manual deployment of user entered build number. The build number is taken from the version parameter. </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty/>
    <hudson.queueSorter.PrioritySorterJobProperty>
      <priority>200</priority>
    </hudson.queueSorter.PrioritySorterJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MANGROVE_VERSION</name>
          <description>Mangrove successful build number.
Use &apos;lastSuccessfulBuild&apos; for the last successful build.</description>
          <defaultValue>lastSuccessfulBuild</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DATAWINNER_VERSION</name>
          <description>Datawinners successful build number.
Use &apos;lastSuccessfulBuild&apos; for the last successful build.</description>
          <defaultValue>lastSuccessfulBuild</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>ENVIRON</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>ec2</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.gmail.ikeike443.PlayAutoTestJobProperty/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Deployment</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>. /home/mangrover/awe_ve/bin/activate
cd /var/lib/jenkins/jobs/Datawinners-7_1_release/workspace/datawinners

fab $ENVIRON production_deploy:mangrove_build_number=$MANGROVE_VERSION,datawinner_build_number=$DATAWINNER_VERSION,code_dir=&quot;/home/mangrover/workspace&quot;,environment=$ENVIRON,branch_name=&quot;7_1_release&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.chucknorris.CordellWalkerRecorder>
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
    <hudson.plugins.emotional__hudson.EmotionalHudsonPublisher/>
    <hudson.plugins.ircbot.IrcPublisher>
      <targets>
        <hudson.plugins.im.GroupChatIMMessageTarget>
          <name>#mangrove</name>
          <notificationOnly>false</notificationOnly>
        </hudson.plugins.im.GroupChatIMMessageTarget>
      </targets>
      <strategy>ALL</strategy>
      <notifyOnBuildStart>false</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>false</notifyUpstreamCommitters>
      <buildToChatNotifier class="hudson.plugins.im.build_notify.DefaultBuildToChatNotifier"/>
      <matrixMultiplier>ONLY_CONFIGURATIONS</matrixMultiplier>
      <channels/>
    </hudson.plugins.ircbot.IrcPublisher>
    <net.hurstfrost.hudson.sounds.HudsonSoundsNotifier>
      <soundEvents/>
    </net.hurstfrost.hudson.sounds.HudsonSoundsNotifier>
    <hudson.plugins.statusmonitor.MonitorPublisher/>
  </publishers>
  <buildWrappers/>
</project>