<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>3</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Build:jwickstra</permission>
      <permission>hudson.model.Item.Build:cosmin</permission>
      <permission>hudson.model.Item.Build:poojas2406</permission>
      <permission>hudson.model.Item.Build:ashish</permission>
      <permission>hudson.model.Item.Build:kkraft</permission>
      <permission>hudson.model.Item.Build:zyang</permission>
      <permission>hudson.model.Item.Build:gcwei</permission>
      <permission>hudson.model.Item.Build:geetchan</permission>
      <permission>hudson.model.Item.Build:iambowen</permission>
      <permission>hudson.model.Item.Build:dreed</permission>
      <permission>hudson.model.Item.Build:iamroody</permission>
      <permission>hudson.model.Item.Build:ritesh</permission>
      <permission>hudson.model.Item.Build:anishek</permission>
      <permission>hudson.model.Item.Workspace:jwickstra</permission>
      <permission>hudson.model.Item.Workspace:cosmin</permission>
      <permission>hudson.model.Item.Workspace:poojas2406</permission>
      <permission>hudson.model.Item.Workspace:ashish</permission>
      <permission>hudson.model.Item.Workspace:iambowen</permission>
      <permission>hudson.model.Item.Workspace:kkraft</permission>
      <permission>hudson.model.Item.Workspace:zyang</permission>
      <permission>hudson.model.Item.Workspace:dreed</permission>
      <permission>hudson.model.Item.Workspace:ritesh</permission>
      <permission>hudson.model.Item.Workspace:anishek</permission>
      <permission>hudson.model.Item.Workspace:gcwei</permission>
      <permission>hudson.model.Item.Workspace:geetchan</permission>
      <permission>hudson.model.Item.Read:jwickstra</permission>
      <permission>hudson.model.Item.Read:cosmin</permission>
      <permission>hudson.model.Item.Read:poojas2406</permission>
      <permission>hudson.model.Item.Read:ashish</permission>
      <permission>hudson.model.Item.Read:kkraft</permission>
      <permission>hudson.model.Item.Read:zyang</permission>
      <permission>hudson.model.Item.Read:gcwei</permission>
      <permission>hudson.model.Item.Read:geetchan</permission>
      <permission>hudson.model.Item.Read:iambowen</permission>
      <permission>hudson.model.Item.Read:dreed</permission>
      <permission>hudson.model.Item.Read:iamroody</permission>
      <permission>hudson.model.Item.Read:ritesh</permission>
      <permission>hudson.model.Item.Read:anishek</permission>
      <permission>hudson.model.Item.Configure:jwickstra</permission>
      <permission>hudson.model.Item.Configure:poojas2406</permission>
      <permission>hudson.model.Item.Configure:ashish</permission>
      <permission>hudson.model.Item.Configure:iambowen</permission>
      <permission>hudson.model.Item.Configure:kkraft</permission>
      <permission>hudson.model.Item.Configure:zyang</permission>
      <permission>hudson.model.Item.Configure:dreed</permission>
      <permission>hudson.model.Item.Configure:iamroody</permission>
      <permission>hudson.model.Item.Configure:ritesh</permission>
      <permission>hudson.model.Item.Configure:anishek</permission>
      <permission>hudson.model.Item.Configure:gcwei</permission>
      <permission>hudson.model.Item.Configure:geetchan</permission>
      <permission>hudson.model.Run.Update:poojas2406</permission>
      <permission>hudson.model.Run.Update:ritesh</permission>
      <permission>hudson.model.Run.Update:anishek</permission>
      <permission>hudson.model.Item.Delete:ritesh</permission>
      <permission>hudson.model.Run.Delete:poojas2406</permission>
      <permission>hudson.model.Run.Delete:ritesh</permission>
      <permission>hudson.model.Run.Delete:anishek</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.queueSorter.PrioritySorterJobProperty>
      <priority>90</priority>
    </hudson.queueSorter.PrioritySorterJobProperty>
    <com.gmail.ikeike443.PlayAutoTestJobProperty/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/home/mangrover/datawinners</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>dropdb testingdb
createdb -T template_postgis testingdb
. /home/mangrover/awe_ve/bin/activate
cd /var/lib/jenkins/jobs/Datawinners-develop/workspace/datawinners
fab local deploy:mangrove_build_number=`curl http://178.79.163.33:8080/job/Mangrove-develop/lastSuccessfulBuild/buildNumber`,datawinner_build_number=`curl http://178.79.163.33:8080/job/DataWinners-develop/lastSuccessfulBuild/buildNumber`,home_dir=&quot;/home/mangrover&quot;,virtual_env=&quot;/home/mangrover/awe_ve&quot;,environment=&quot;test&quot;
ps -ef|grep Xvfb |grep -v grep || Xvfb :99 -ac &amp;
export DISPLAY=&quot;:99&quot;
cd /home/mangrover/datawinners
. /home/mangrover/awe_ve/bin/activate
cd func_tests

nosetests -v -a &quot;functional_test&quot; --with-xunit --xunit-file=../xunit.xml

fab local stop_gunicorn
cd ..
git rev-parse origin/develop &gt; /var/lib/jenkins/jobs/Datawinners-develop/workspace/last_successful_commit_sha_ft
cd /var/lib/jenkins/jobs/Datawinners-develop/workspace/datawinners
fab local killfirefox</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.chucknorris.CordellWalkerRecorder>
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>**/xunit.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.emotional__hudson.EmotionalHudsonPublisher/>
    <net.hurstfrost.hudson.sounds.HudsonSoundsNotifier>
      <soundEvents>
        <net.hurstfrost.hudson.sounds.HudsonSoundsNotifier_-SoundEvent>
          <soundId>rooster</soundId>
          <toResult>
            <name>SUCCESS</name>
            <ordinal>0</ordinal>
            <color>BLUE</color>
          </toResult>
          <fromResults>
            <hudson.model.Result>
              <name>NOT_BUILT</name>
              <ordinal>3</ordinal>
              <color>NOTBUILT</color>
            </hudson.model.Result>
            <hudson.model.Result>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
            </hudson.model.Result>
            <hudson.model.Result>
              <name>ABORTED</name>
              <ordinal>4</ordinal>
              <color>ABORTED</color>
            </hudson.model.Result>
            <hudson.model.Result>
              <name>SUCCESS</name>
              <ordinal>0</ordinal>
              <color>BLUE</color>
            </hudson.model.Result>
            <hudson.model.Result>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
            </hudson.model.Result>
          </fromResults>
        </net.hurstfrost.hudson.sounds.HudsonSoundsNotifier_-SoundEvent>
        <net.hurstfrost.hudson.sounds.HudsonSoundsNotifier_-SoundEvent>
          <soundId>rooster</soundId>
          <toResult>
            <name>SUCCESS</name>
            <ordinal>0</ordinal>
            <color>BLUE</color>
          </toResult>
          <fromResults>
            <hudson.model.Result>
              <name>NOT_BUILT</name>
              <ordinal>3</ordinal>
              <color>NOTBUILT</color>
            </hudson.model.Result>
            <hudson.model.Result>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
            </hudson.model.Result>
            <hudson.model.Result>
              <name>ABORTED</name>
              <ordinal>4</ordinal>
              <color>ABORTED</color>
            </hudson.model.Result>
            <hudson.model.Result>
              <name>SUCCESS</name>
              <ordinal>0</ordinal>
              <color>BLUE</color>
            </hudson.model.Result>
            <hudson.model.Result>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
            </hudson.model.Result>
          </fromResults>
        </net.hurstfrost.hudson.sounds.HudsonSoundsNotifier_-SoundEvent>
      </soundEvents>
    </net.hurstfrost.hudson.sounds.HudsonSoundsNotifier>
    <hudson.plugins.statusmonitor.MonitorPublisher/>
  </publishers>
  <buildWrappers/>
</project>